* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
}
p {
    font-size: 1rem;
}

header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/header.jpg) center;
    background-size: cover;
    height: 100vh;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

nav a:hover {
    background-color: #3838388f;
}

span {
    color: #2ab7f8;
}

.destinos {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/destinos.jpg) center no-repeat fixed;
    background-size: cover;
    height: 250px;
}

.sitios img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.material-symbols-outlined {
  font-size: 4rem !important;
  line-height: 1;
}

.social-icons .material-symbols-outlined{
    font-size: 2rem !important;
    line-height: 1;
}
